Search Homes

<div class='location inline'>
	<label>Please Enter A City/State or Zip</label>
	<input name='location'/>
</div>
<div class='min inline'>
	<label>Min Price</label>
	<input name='min'/>
</div>
<div class='max inline'>
	<label>Max Price</label>
	<input name='max'/>
</div>
<div class='beds inline'>
	<label>Beds</label>
	<select name='bed'>
		<option>Any</option>
		<option>2</option>
		<option>3</option>
		<option>4</option>
	</select>
</div>
<div class='baths inline'>
	<label>Baths</label>
	<select name='bath'>
		<option>Any</option>
		<option>1</option>
		<option>2</option>
		<option>3+</option>
	</select>
</div>

<input type='submit' value='Search'>
