<select>
	<option>Sort By Price</option>
	<option>Sort By Beds</option>
</select>
<select name='limit'>
	<option value='10'>Show 10 per page</option>
	<option value='50'>Show 50 per page</option>
</select>
<%= pages %>